In [1]:
import pandas as pd 
df=pd.read_csv('football_matches.csv')

In [3]:
df

,X,season,date,home_team,away_team,home_clearances,home_corners,home_fouls_conceded,home_offsides,home_passes,...,away_red_cards,away_shots,away_shots_on_target,away_tackles,away_touches,away_yellow_cards,goal_home_ft,goal_away_ft,sg_match_ft,result
0,0,10/11,2010-11-01,Blackpool,West Bromwich Albion,15,8,16,2,550,...,2,14,4,15,472,3,2,1,1,0
1,1,10/11,2011-04-11,Liverpool,Manchester City,16,6,6,5,527,...,0,12,2,27,687,0,3,0,3,0
2,2,10/11,2010-12-13,Manchester United,Arsenal,26,5,9,3,430,...,0,11,5,20,737,4,1,0,1,0
3,3,10/11,2010-09-13,Stoke City,Aston Villa,26,8,12,2,277,...,0,11,5,20,599,2,2,1,1,0
4,4,10/11,2011-02-14,Fulham,Chelsea,50,4,11,1,333,...,0,25,3,23,837,1,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4065,4065,20/21,2021-02-03,Liverpool,Brighton and Hove Albion,15,5,12,0,697,...,0,13,4,13,590,0,0,1,-1,1
4066,4066,20/21,2021-03-03,Burnley,Leicester City,13,5,6,3,351,...,0,16,4,9,746,2,1,1,0,2
4067,4067,20/21,2021-03-03,Crystal Palace,Manchester United,25,4,4,1,353,...,0,11,1,6,781,0,0,0,0,2
4068,4068,20/21,2021-03-03,Sheffield United,Aston Villa,47,2,13,1,263,...,0,16,4,9,838,0,1,0,1,0
4069,4069,20/21,2020-12-30,Newcastle United,Liverpool,52,5,9,2,241,...,0,11,4,10,875,3,0,0,0,2

In [23]:
# Which team scored the most total goals 
df['total_goals'] = df['goal_home_ft'] + df['goal_away_ft']
home_goals = df.groupby('home_team')['goal_home_ft'].sum()
away_goals = df.groupby('away_team')['goal_away_ft'].sum()
total_team_goals = (home_goals + away_goals).sort_values(ascending=False)
print(total_team_goals.head(10))

home_team
Manchester City      914
Liverpool            775
Arsenal              737
Manchester United    736
Chelsea              733
Tottenham Hotspur    698
Everton              567
West Ham United      473
Newcastle United     430
Southampton          423
dtype: int64

In [25]:
#Which match had the most goals?
df['total_goals'] = df['goal_home_ft'] + df['goal_away_ft']
max_goals_match = df.loc[df['total_goals'].idxmax()]
print(max_goals_match[['date', 'home_team', 'away_team', 'goal_home_ft', 'goal_away_ft', 'total_goals']])

date                   2011-08-28
home_team       Manchester United
away_team                 Arsenal
goal_home_ft                    8
goal_away_ft                    2
total_goals                    10
Name: 688, dtype: object

In [27]:
#Average goals per match
avg_goals = df['total_goals'].mean()
print(f"Average goals per match: {avg_goals:.2f}")

Average goals per match: 2.74

In [29]:
#Most attacking teams (based on total shots)
df['total_shots'] = df['home_shots'] + df['away_shots']
team_shots = df.groupby('home_team')['home_shots'].sum() + df.groupby('away_team')['away_shots'].sum()
print(team_shots.sort_values(ascending=False).head(10))

home_team
Manchester City      7069
Liverpool            6706
Chelsea              6619
Tottenham Hotspur    6365
Arsenal              5945
Manchester United    5855
Everton              5348
West Ham United      4570
Newcastle United     4540
Southampton          4340
dtype: int64

In [31]:
# Most aggressive teams (based on fouls + yellow + red cards)
df['home_aggression'] = df['home_fouls_conceded'] + df['home_yellow_cards'] + df['home_red_cards']
df['away_aggression'] = df['away_fouls_conceded'] + df['away_yellow_cards'] + df['away_red_cards']
aggression = df.groupby('home_team')['home_aggression'].sum() + df.groupby('away_team')['away_aggression'].sum()
print(aggression.sort_values(ascending=False).head(10))

home_team
Manchester United    5328
Everton              5251
Tottenham Hotspur    5059
Manchester City      5009
Chelsea              4934
Arsenal              4877
Newcastle United     4756
Liverpool            4715
West Ham United      4568
Southampton          4301
dtype: int64

In [45]:
#Top 5 matches where underdog (weaker team) won (based on shots)
df['underdog_win'] = ((df['home_shots'] < df['away_shots']) & (df['result'] == 1)) | \
                     ((df['home_shots'] > df['away_shots']) & (df['result'] == -1))
print(df[df['underdog_win'] == True][['home_team', 'away_team', 'home_shots', 'away_shots', 'result']].head(5))

           home_team  away_team  home_shots  away_shots  result
10  Bolton Wanderers    Chelsea          12          16       1
15         Blackpool    Chelsea          15          20       1
16            Fulham  Liverpool          11          17       1
17   Birmingham City    Arsenal           7          19       1
37   West Ham United    Chelsea          15          18       1

In [49]:
#Which team played the most home matches?
df['home_team'].value_counts().head()

home_team
Manchester City      205
Liverpool            204
Manchester United    203
Chelsea              203
Arsenal              203
Name: count, dtype: int64

In [51]:
#How many matches ended in a draw?
df[df['result'] == 0].shape[0]

1835

In [53]:
# Which team had the most red cards at home?
df.groupby('home_team')['home_red_cards'].sum().sort_values(ascending=False).head()

home_team
Arsenal             16
Southampton         15
Aston Villa         12
Manchester City     12
Newcastle United    11
Name: home_red_cards, dtype: int64